.wishlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  background-color: lightgray;
  padding: 1rem 2rem;
  margin: 1rem 0;
}

.product-info {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.wishlist-item img {
  width: 100px;
  height: auto;
}
