.wishlist-header {
  display: flex;
  width: 60%;
  align-items: center;
}

.wishlist-header-menu {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  transition: background-color 500ms linear;
  cursor: pointer;
}

.wishlist-header-menu:hover {
  background-color: lightgray;
  transition: background-color 1000ms linear;
}

.sort-by-panel {
  position: absolute;
  top: 10%;
  padding: 0.5rem;
  margin-top: -0.7rem;
  background-color: lightgray;
}

.selected {
  background-color: lightgray;
}

.header-menu-option:hover {
  background-color: blanchedalmond;
}
